<div class="banner">
  <div class="text-center">
    <%= image_tag "mrcocktail.png" %>
    <br />
    <%= link_to "Add a Cocktail", new_cocktail_path, class: "btn-banner" %> &nbsp;
    <%= link_to "View Cocktails", "", class: "btn-banner" %>
  </div>
</div>

<div class="spacer"></div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-6 col-md-4 col-lg-3">
      <div class="card" style="background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ), url('<%= image_path cocktail.image_path %>')"><%= link_to cocktail.name, cocktail_path(cocktail) %></div>
      </div>
      <% end %>
    </div>
  </div>

<!-- https://source.unsplash.com/2FDstXKqaxI -->
<!-- #042A2B -->
