<div id="new">
  <h1>Create a New Cocktail</h1>

  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <%= simple_form_for(@cocktail) do |f| %>
        <%= f.input :name %>
        <%= f.input :image_path %>
        <%= f.submit "Create Cocktail", class: "btn btn-new" %> |
        <%= link_to "Back to List", cocktails_path, class: "btn btn-new" %>
        <% end %>
      </div>
    </div>
  </div>

</div>
